.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    font-family: sans-serif;
}

.control-button {
  background-color: #1290f7;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.control-button:hover {
    background-color: blue;
}
